
h1 {
  font-size: 6rem;
}
.column1 {
  float: left;;
  width: 20%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing:border-box;
}
img {
  width: 90%;
}
.column1 p {
  font-family: monospace;
}
 @media screen and (max-width: 768px) {
   .column1 {
     width: 90%;
     margin: auto;
     float: none;
   }
   h1 {
     font-size: 2rem;
   }
 }
 @media screen and (max-width: 1536px) and (min-width: 768px) {
   .column1{
     width: 50%;
     float: left;
   }
   h1 {
     font-size: 3.5rem;
   }
 }
